alembic==0.8.9
bleach==1.5.0
blinker==1.4
cffi==1.9.1
click==6.7
EasyProcess==0.2.3
Flask==0.12
funcsigs==1.0.2
gunicorn==19.6.0
html5lib==0.9999999
itsdangerous==0.24
Jinja2==2.9.5
Markdown==2.2.0
MarkupSafe==0.23
numpy==1.12.1
olefile==0.44
packaging==16.8
passlib==1.7.1
pbr==3.0.0
Pillow==4.1.1
poster==0.8.1
protobuf==3.2.0
pycparser==2.17
pycryptodome==3.4.5
pyparsing==2.1.10
pyscreenshot==0.4.2
python-editor==1.0.3
requests==2.13.0
six==1.10.0
tensorflow==1.1.0
Unirest==1.1.7
Werkzeug==0.11.15
WTForms==2.1
